
@media(max-width:800px){
  header{
    display:none;
  }

  .micon{
    display: block;
  }
  
  #mobile-menu{
    background:transparent;
    display:block;
    position: relative;
    cursor: pointer;
    margin:0 0 0 auto;
    height:60px;
    width:60px;
    padding-top:15px;
    z-index:20;

  }

  
  .circle{
    position: relative;
    width:30px;
    height:14px;
    position: fixed;
    
  }
  
  .bar{
    position: absolute;
    left:5px;
    height:3px;
    width:30px;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    transition: ease 0.3s;
  }
  .top{
    top:10%;
    
  }
  .middle{
    top:80%;
  }
  .bottom{
    top:150%;
  }
  /* モバイルメニュー */
  /* モバイルメニュー クリック時 */
  .close .top{
  transform: rotate(45deg);
  top:45%;
  }
  .close .middle{
    opacity: 0;
  }
  .close .bottom{
    transform: rotate(-45deg);
    top:45%;
  }
  /* モバイルメニュー クリック時 */

  #g-nav ul{
    top:40%;
    left:20%;
  }

.header-wrapper{
  display:none;
}
.skill{
flex-direction: column;
}
.web-icon{
  margin-bottom:50px;
  width:400px;
}
.mobile-icon{
  margin-bottom:50px;
  width:400px;
}
.Wordpress-icon{
width:400px;
}


.work-contents img{
  width:40%;
}
}
@media(max-width:500px){
.dammy{
  display:none;
}
.slide{
  display:none;
}


.web-icon{
   margin-bottom:50px;
   width:300px;
}
 .mobile-icon{
   margin-bottom:50px;
   width:300px;
}
.Wordpress-icon{
   width:300px;
}

.work-contents{
  flex-direction: column;

}
.work-contents img{
  margin:10px auto 50px;
  width:80%;
 
}

.company::after{
  margin-bottom:100px;
}

.shop::after{
  margin-bottom:20px;
} 

.contact-wrapper{
  margin: 20 auto 0;
  width:300px;
}
#msg{
  height:300px;
}
}